# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Custom ignores
/Api_Bazar_Universal/
/Aplicacion Examen 2do parcial.pdf
env-production-example.txt
NETLIFY_DEPLOY_GUIDE.md
